:root { 
    --fon-color:#2196F3;
   --tekst-color:#212121;
  --coment-color:#757575;
   --hero-color: #2F303A;
  --title-color: #FFFFFF;
   --back-color: #f5f4fa;
   --logo-color:#000000;
   --icon-color:#AFB1B8;


}

h1,h2,h3,h4,p{
    margin-top: 0;
    margin-bottom: 0;
}

ul,ol{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}


img {
    display: block;
    max-width: 100%;
    height: auto;
}

button{
    display: block;
    cursor: pointer;
    margin: 0 auto;
    border: none;
}

address{
    font-style: normal;
}
    

.list{
list-style: none;
padding-left: 0;
margin: 0;
}


.link{
text-decoration: none;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #212121;
}

.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section{
    padding-top: 94px;
    padding-bottom: 94px;
}
/*=============HEADER=============*/


.logo{
font-family: 'Raleway', sans-serif;
text-decoration: none;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color:var(--fon-color)
}

.logo-color{
font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color:var(--logo-color);
}

.page-header{
    border-bottom: 1px solid #ececec;
}

.header-container{
    display: flex;
    align-items: center;
}

.page-nav{
    display: flex;
    align-items: center;
}

.logo{
    margin-right: 93px;
}




.menu{
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 50px;
}

.menu-item :hover .contact-svg{fill: #2196F3;}
.menu-item :focus .contact-svg{fill: #2196F3;}

.contact-svg{
    transform: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link{
position: relative;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
cursor: pointer;
color:var(--tekst-color);
padding: 32px 0;
transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.menu-link.current::after{
position: absolute;
bottom: 0;
width: 100%;   
height: 4px;
background-color:var(--fon-color); 
content: "";
display: block;
border-radius: 2px;
}



.menu-link:hover,
.menu-link:focus{
 color:var(--fon-color);
}

.contact-svg{
    display: block;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    fill: #757575;
}


.contact-svg:hover,
.contact-svg:focus{
   fill: #2196F3;
}


.phone-number{
display: flex;
align-items: center;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color:var(--coment-color);
padding: 32px 0;
transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.phone-number:hover,
.phone-number:focus{
color:var(--fon-color);
}
.menu-mail{
display: flex;
align-items: center;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color:var(--coment-color);
padding: 32px 0; 
transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.menu-mail:hover,
.menu-mail:focus{
color: var(--fon-color);

}
/*===========/HEADER===========*/

/*==========MAIN===========*/

    


.main-title{ 
width:696px;
font-weight:900;
font-style: normal;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
margin: 0 auto;
margin-bottom: 30px;
color:var(--title-color)
}

.current{
    color: var(--fon-color);
}
.hero{
    padding: 200px 0;
    background-color: var(--hero-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../images/Img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1600px;
    max-height: 600px;
    margin: 0 auto;
}

.modal-btn{
font-family: "Roboto",sans-serif;
font-weight: 700;
font-size: 16px;
line-height: 1.88;
cursor: pointer;
letter-spacing: 0.06em;
color: #FFFFFF;
background-color: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 32px;
padding-right: 32px;
border: 1px solid transparent;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus{
background-color: #188ce8;
}

.descr-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    background: #F5F4FA;
    border-radius: 4px;
    width: 270px;
    height: 120px;
}


.description-page{
    display: flex;
    gap: 30px;
}

.title-description{
margin-bottom: 10px;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color:var(--tekst-color)
}

.section-description{
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color:var(--coment-color)
}
/*===========MAIN===========*/

/*===========WORK-PAGE===========*/

.work-container
.conatiner{
    display: block;
}

.title{
font-weight: 700;
font-size: 36px;
line-height: 1.16;
letter-spacing: 0.03em;
margin-bottom: 50px;
text-align: center;
margin-bottom: 50px;
color:var(--tekst-color)
}

.desctop-programm{
    overflow: auto;
    position: relative;
}

.picture{
    position: relative;
}

.label{
    position: absolute;
    bottom: 3px;
    padding: 27px;
    left: 0;
    width: 100%;
    font-size: 14px;
    line-height: 100%;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    background-color: rgba(47, 48, 58, 0.8);

}

.work{
    display: flex;
    gap: 30px;
}

.work-gallery{
    display: inline;
}

.work-page{
    padding-top: 0;
}

.team{
    display: flex;
    gap: 30px;

    background-color: #f5f4fa;
}
.employees{
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--tekst-color);
}

.social-list{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-list-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #ffffff;
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus{
    background-color: #2196F3;
    
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon{
    fill: #FFFFFF;
}

.social-list-icon{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill:#AFB1B8;
}

.job-title{
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--coment-color);
    margin-bottom: 16px;
}
.team-photo{
    background: var(--title-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px 
    rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.name{
    padding-top: 30px;
    padding-bottom: 30px;
}

.client-list{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.client-list-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    fill: #AFB1B8;
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    color: var(--icon-color);
    transition:border-color  250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill  250ms cubic-bezier(0.4, 0, 0.2, 1);
}




.client-list :hover,
.client-list :focus{
border-color: #2196F3;
    fill: #2196F3;
}







/*===========/WORK-PAGE===========*/

/*===========FOOTER===========*/
.footer-page{
    padding-top: 60px;
    padding-bottom: 60px;
    background:var(--hero-color);
}

.footer-container
.container{
    margin-bottom: 8px;
    display: block;
}

.footer-container{
    display: flex;
    align-items: baseline;
}

.social-list-item{
    height: 44px;
    width: 44px;

}

.social-link-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--title-color);
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-footer:hover,
.social-link-footer:focus{
    background-color: #2196F3;
}

.link-footer{
    fill: #FFFFFF;
}

.footer-detail-item:not(last-child){
    margin-right: 70px;
}

.paragraf{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--title-color);
}

.social-list-footer{
    margin-top: 20px;

}

.logo{
    display: block;  
    }

.logo-color-f{
    margin-bottom: 20px;
    color:var(--title-color);
}

.address-information{
    margin-bottom: 9px;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:var(--title-color);    
}

.contact-information{
    margin-bottom: 9px;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    }

.footer-nav{
    margin-bottom: 9px;
}

/*===========/FOOTER===========*/

/*===========PORTFOLIO===========*/

.push-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    color:#212121;
    background:#f5f4fa;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
    padding: 6px 22px;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current{
    color: var(--fon-color);
}
.push-btn:hover,
.push-btn:focus {
color: #ffffff;
background: #2196f3;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn-list{
display: flex;
justify-content: center;
margin-bottom: 50px;
gap: 8px;
}

.prt
.container{
    padding-top: 94px;
    padding-bottom: 94px;
}

.portfolio-projects{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--tekst-color);
}

.working-item{
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.prt-photo{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio-list {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--tekst-color);
}

.portfolio-direction {
    margin-top: 4px;
    font-size: 16px;
    line-height:1,88px;
    letter-spacing: 0.03em;
    color: #757575;
}
.portfolio-projects{
    background: #FFFFFF;

}


.portfolio-projects:hover,
.portfolio-projects:focus{
    box-shadow:0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}


.footer-deteil{
    margin-right: 70px;
}

.portfolio-link{
    display: block;
}

.team-overlay{
    position: relative;
    overflow: hidden;
}

.overlay{
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 3%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: translate(0,100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 18px;
    color: #FFFFFF;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 63px;
    padding-bottom: 63px;
    background-color: rgba(33, 150, 243, 0.9);
}

.portfolio-link:hover .overlay,
.portfolio-link:focus .overlay{
    transform: translate(0, 0);
}

/*----------MODAL Window----------*/
.backdrop{
    position:fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition:transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
     opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.modal{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 528px;
    max-height: 581px;
    border-radius: 4px;
    background-color: #FFFFFF;
    padding: 40px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn{
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%; 
    padding: 0;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn :hover,
.modal-close-btn :focus{
    border-color: var(--title-color);
}

.modal-close-btn-icon{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn-icon :hover,
.modal-close-btn-icon :focus{
    fill: var(--fon-color);
}
    

.backdrop.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is-hidden .modal{
    transform: scale(0);
}

/*----------MODAL Window----------*/

/*----------MODAL FORM----------*/
.modal-form-text{
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    color: var(--logo-color);
    text-align: center;
    align-items: center;
    margin-left: 0;
    margin-bottom: 40px;
}

.modal-form{
    display: flex;
    flex-direction: column;
}

.modal-form-input{
  width: 100%;
  height: 40px;
  border:1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-form-input:focus{
    outline: none;
    border-color:#2196F3;
    
}

.modal-form-input:focus + .modal-svg{
    fill: var(--fon-color);
}

.modal-form-input-desc{
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    margin-bottom: 4px;
    color: #757575;
}

.modal-form-field{
    margin-bottom: 10px;
}

.modal-form-input-wrapper{
    display: block;
    position: relative;
}

.modal-svg{
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translate(0,-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message{
    width: 100%;
    height: 120px;
    resize: none;
    padding: 8px 16px;   
    border-radius: 4px; 
    margin-top: -8px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message::placeholder{
    font-size: 12px;
    text-transform: rgba(117, 117, 117, 0.5);;
}

.modal-form-message:focus{
    outline: none;
    border-color: var(--fon-color);
}

.modal-form-desc::before{
    display: block;
    width: 16px;
    height: 16px;
    border: 1px solid #212121;
    content: "";
    cursor: pointer;
    border-radius: 4px;
}

.modal-form-check:checked + .modal-form-desc::before{
    background-color:var(--fon-color);
    background-image:url(../images/iconcheck.jpg);
    background-size: contain;
}
/*----------MODAL FORM----------*/





